<!DOCTYPE html>
<html>
<link type="text/css" rel="stylesheet" href="/assets/header/header.css">

<body style="margin: 0;">
	<div class="main"> 
			<nav class="navigation">
				<div><a href="/home" class="logolink"><img class="logo" src="assets/header/logo.png" height="77" width="265"></a></div>
				<div><input type="text" name="search" class="search"></div>
				<div><a href="/profile"><%=userdata[0]%></a></div>
				<div><a href="/pages">Pages</a></div>
				<div><a href="/messages"><img class="envelope" src="/assets/header/envelope.png" width="40px" height="25px"></a></div>
				<div><a href="/notification"><img class="bell" src="/assets/header/bell.png" width="30px" height="30px" ></a></div>
				<div><a href="/logout">Log Out</a></div>	
			</nav>
	</div>
</body>
</html>